<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', { title: 'Sửa thông tin' }) %>

<body>
	<%- include('../partials/navbar') %>
	<main class="container mt-3 mb-3">
		<%- include("../partials/flash") %>
		<h1 class="text-center">Sửa thông tin nhân viên</h1>
		<div class="lodge-form-container col-6 offset-3">
			<%- include('edit-form.partial.ejs', { employee }) %>
		</div>
	</main>
</body>

</html>