<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
	<div class="container-fluid">
		<% if (user) { %>
		<% if (user.role == 'checker') { %>
		<a class="navbar-brand" href="/">Trang chủ</a>
		<% } else { %>
		<% const { id } = user.user %>
		<a class="navbar-brand" href="/employees/<%=id%>">Trang chủ</a>
		<% }  %>
		<% } else { %>
		<a class="navbar-brand" href="/">Trang chủ</a>
		<% } %>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav me-auto">
				<% if (user) { %>
				<% if (user.role === 'checker') { %>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Chấm công
					</a>
					<ul class="dropdown-menu">
						<li><a class="dropdown-item" href="/records/day">Thống kê ngày</a></li>
						<li><a class="dropdown-item" href="/stats/month">Thống kê tháng</a></li>
						<li><a class="dropdown-item" href="/records/new">Thủ công</a></li>
						<li>
							<hr class="dropdown-divider">
						</li>
						<li><a class="dropdown-item" href="/records/import">Nhập chấm công từ file</a></li>
						<li><a class="dropdown-item" href="/records">Lịch sử các bản ghi</a></li>

					</ul>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Nhân viên
					</a>
					<ul class="dropdown-menu">
						<li><a class="dropdown-item" href="/employees">Danh sách</a></li>
						<li><a class="dropdown-item" href="/employees/new">Thêm</a></li>
					</ul>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/config" role="button">
						Cài đặt
					</a>
				</li>
				<% } else { %>
				<li class="nav-item">
					<a class="nav-link" href="/employees/password/<%=user?.user?.id%>" role="button">
						Đổi mật khẩu
					</a>
				</li>
				<% } %>
				<% } %>
				<% if (!user) { %>
				<li class="nav-item">
					<a class="nav-link" href="/login">Đăng nhập</a>
				</li>
				<% } %>
			</ul>
			<ul class="navbar-nav">
				<% if (user) { %>
				<li class="nav-item">
					<a class="nav-link" href="/logout">Đăng xuất</a>
				</li>
				<% } %>
			</ul>
		</div>
	</div>
</nav>